################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppMvcBasica/.vs/AppMvcBasica/v16
/AppMvcBasica/AppMvcBasica/bin/Debug/netcoreapp3.0
/AppMvcBasica/AppMvcBasica/obj
